<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessToken</key>
	<string>b86c2fa63440dea56acd389f0f521d89f7f0b3e1</string>
	<key>clientId</key>
	<string>ff46ac2cad8859b</string>
	<key>clientSecret</key>
	<string>9a4b9945d65c6ef8936796c073c1ac531716f1b5</string>
</dict>
</plist>
